:root{
    --card-bg:#fff;
    --primary-bg:#F0F1F3;
}
body {
    margin: 0;
    background-color: var(--primary-bg)
  }
  h1{
    margin:0;
  }

  .card-container {
    margin: 0.5rem;
    background-color: var(--card-bg);
    padding: 1.25rem;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.canvas-container{
  max-width: 90%;
  max-height: 20vh;
}